/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/62a4d66c8b9bdb3d429946cd.62a4d66c2857c158760c7c25.x17jMl9.hcp.png");
@font-face {
  font-family: "NanumSquare-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NanumSquareB.otf") format("opentype");
}
@font-face {
  font-family: "SimKyungha-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SimKyungha.otf") format("opentype");
}
@font-face {
  font-family: "NanumSquare-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NanumSquareR.otf") format("opentype");
}
@font-face {
  font-family: "NanumSquare-ExtraBold";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/NanumSquareEB.otf") format("opentype");
}


.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
