/* screen - codaejang */

.codaejang {
  background-color: #ffffff;
  height: 3250px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.codaejang .view-16xy7G {
  background-color: transparent;
  height: 3250px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 390px;
}

.codaejang .x0-tE3HYL {
  background-color: transparent;
  height: 844px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 390px;
}

.codaejang .x1-PT532A {
  background-color: var(--half-and-half);
  height: 844px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 390px;
}

.codaejang .x1-tE3HYL {
  background-color: transparent;
  height: 844px;
  left: 0px;
  position: absolute;
  top: 844px;
  width: 390px;
}

.codaejang .x1-MUYxsX {
  background-color: var(--half-and-half);
  height: 844px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 390px;
}

.codaejang .x2-tE3HYL {
  background-color: transparent;
  height: 844px;
  left: 0px;
  position: absolute;
  top: 1688px;
  width: 390px;
}

.codaejang .x1-GG1YeC {
  background-color: var(--half-and-half);
  height: 844px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 390px;
}

.codaejang .x3-tE3HYL {
  background-color: transparent;
  height: 844px;
  left: 0px;
  position: absolute;
  top: 2532px;
  width: 390px;
}

.codaejang .x1-zf5NhN {
  background-color: var(--half-and-half);
  height: 844px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 390px;
}

.codaejang .x1st-birthday-16xy7G {
    background-color: transparent;
    height: auto;
    left: 148px;
    letter-spacing: 0.75px;
    line-height: 15px;
    position: absolute;
    text-align: center;
    top: 70px;
    white-space: nowrap;
    width: auto;
    anchor-point: page_top;
	margin-top:-70px;
	padding-top:70px;
}

.codaejang .text_label-16xy7G {
  background-color: transparent;
  color: var(--olive);
  font-family: var(--font-family-simkyungha-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 82px;
  letter-spacing: 1.50px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 134px;
  white-space: nowrap;
  width: auto;
}

.codaejang .view-5PoOA8 {
  background-color: transparent;
  height: 366px;
  left: 24px;
  position: absolute;
  top: 182px;
  width: 342px;
}

.codaejang .x53-dzbzRw {
  background-color: transparent;
  height: 366px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 342px;
}

.codaejang .x2-CHLs3s {
  background-color: transparent;
  height: 241px;
  left: 75px;
  position: absolute;
  top: 79px;
  width: 203px;
}

.codaejang .x1-BQcixS {
  background-color: transparent;
  height: 241px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 203px;
}

.codaejang .x4-CHLs3s {
  background-color: transparent;
  height: 100px;
  left: 1px;
  position: absolute;
  top: 133px;
  width: 67px;
}

.codaejang .x3-yOHycI {
  background-color: transparent;
  height: 100px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 67px;
}

.codaejang .x8-CHLs3s {
  background-color: transparent;
  height: 113px;
  left: 1px;
  position: absolute;
  top: 183px;
  width: 89px;
}

.codaejang .x7-vMopS1 {
  background-color: transparent;
  height: 113px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 89px;
}

.codaejang .x6-n81Rx7 {
  background-color: transparent;
  height: 113px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 89px;
}

.codaejang .x5-StUwsi {
  background-color: transparent;
  height: 113px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 89px;
}

.codaejang .x12-CHLs3s {
  background-color: transparent;
  height: 92px;
  left: 100px;
  position: absolute;
  top: 273px;
  width: 115px;
}

.codaejang .x11-pvr0r5 {
  background-color: transparent;
  height: 92px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 115px;
}

.codaejang .x10-6by2tw {
  background-color: transparent;
  height: 92px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 115px;
}

.codaejang .x9-HLhrUg {
  background-color: transparent;
  height: 92px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 115px;
}

.codaejang .x16-CHLs3s {
  background-color: transparent;
  height: 118px;
  left: 223px;
  position: absolute;
  top: 204px;
  width: 119px;
}

.codaejang .x15-FIQS3P {
  background-color: transparent;
  height: 118px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 119px;
}

.codaejang .x14-mYX0Fe {
  background-color: transparent;
  height: 118px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 119px;
}

.codaejang .x13-kcsQXs {
  background-color: transparent;
  height: 118px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 119px;
}

.codaejang .x20-CHLs3s {
  background-color: transparent;
  height: 113px;
  left: 252px;
  position: absolute;
  top: 69px;
  width: 89px;
}

.codaejang .x19-DYE08F {
  background-color: transparent;
  height: 113px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 89px;
}

.codaejang .x18-xJVUxU {
  background-color: transparent;
  height: 113px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 89px;
}

.codaejang .x17-UbyHzf {
  background-color: transparent;
  height: 113px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 89px;
}

.codaejang .x24-CHLs3s {
  background-color: transparent;
  height: 92px;
  left: 127px;
  position: absolute;
  top: 0px;
  width: 115px;
}

.codaejang .x23-3nuVkl {
  background-color: transparent;
  height: 92px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 115px;
}

.codaejang .x22-ZvrWsF {
  background-color: transparent;
  height: 92px;
  left: 0px;
  position: relative;
  top: -0px;
  width: 115px;
}

.codaejang .x21-EHwBxC {
  background-color: transparent;
  height: 92px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 115px;
}

.codaejang .x28-CHLs3s {
  background-color: transparent;
  height: 118px;
  left: 0px;
  position: absolute;
  top: 44px;
  width: 119px;
}

.codaejang .x27-IpJoxQ {
  background-color: transparent;
  height: 118px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 119px;
}

.codaejang .x26-9792LT {
  background-color: transparent;
  height: 118px;
  left: -0px;
  position: relative;
  top: 0px;
  width: 119px;
}

.codaejang .x25-FFxPRy {
  background-color: transparent;
  height: 118px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 119px;
}

.codaejang .x32-CHLs3s {
  background-color: transparent;
  height: 108px;
  left: 43px;
  position: absolute;
  top: 247px;
  width: 120px;
}

.codaejang .x31-wOxxBY {
  background-color: transparent;
  height: 108px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 120px;
}

.codaejang .x30-yke4of {
  background-color: transparent;
  height: 108px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 120px;
}

.codaejang .x29-8yIeYS {
  background-color: transparent;
  height: 108px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 120px;
}

.codaejang .x36-CHLs3s {
  background-color: transparent;
  height: 108px;
  left: 179px;
  position: absolute;
  top: 247px;
  width: 120px;
}

.codaejang .x35-xTgMVs {
  background-color: transparent;
  height: 108px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 120px;
}

.codaejang .x34-AShKuT {
  background-color: transparent;
  height: 108px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 120px;
}

.codaejang .x33-f7yezI {
  background-color: transparent;
  height: 108px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 120px;
}

.codaejang .x40-CHLs3s {
  background-color: transparent;
  height: 100px;
  left: 274px;
  position: absolute;
  top: 133px;
  width: 67px;
}

.codaejang .x39-po4xU0 {
  background-color: transparent;
  height: 100px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 67px;
}

.codaejang .x38-EovCfM {
  background-color: transparent;
  height: 100px;
  left: 0px;
  position: relative;
  top: -0px;
  width: 67px;
}

.codaejang .x37-ZmJWKl {
  background-color: transparent;
  height: 100px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 67px;
}

.codaejang .x44-CHLs3s {
  background-color: transparent;
  height: 108px;
  left: 179px;
  position: absolute;
  top: 11px;
  width: 120px;
}

.codaejang .x43-hdLx7h {
  background-color: transparent;
  height: 108px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 120px;
}

.codaejang .x42-J3xKap {
  background-color: transparent;
  height: 108px;
  left: -0px;
  position: relative;
  top: -0px;
  width: 120px;
}

.codaejang .x41-Jf8NfF {
  background-color: transparent;
  height: 108px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 120px;
}

.codaejang .x48-CHLs3s {
  background-color: transparent;
  height: 108px;
  left: 43px;
  position: absolute;
  top: 11px;
  width: 120px;
}

.codaejang .x47-HE24UB {
  background-color: transparent;
  height: 108px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 120px;
}

.codaejang .x46-iXCwli {
  background-color: transparent;
  height: 108px;
  left: -0px;
  position: relative;
  top: -0px;
  width: 120px;
}

.codaejang .x45-yzsj2x {
  background-color: transparent;
  height: 108px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 120px;
}

.codaejang .x52-CHLs3s {
  background-color: transparent;
  height: 68px;
  left: 237px;
  position: absolute;
  top: 242px;
  width: 51px;
}

.codaejang .x51-UInxd4 {
  background-color: transparent;
  height: 68px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 51px;
}

.codaejang .x50-gzVX9L {
  background-color: transparent;
  height: 242px;
  left: -179px;
  position: relative;
  top: -169px;
  width: 230px;
}

.codaejang .x49-LMHF3i {
  background-color: transparent;
  height: 242px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 230px;
}

.codaejang .text_label-5PoOA8 {
  background-color: transparent;
  color: #555555;
  font-family: var(--font-family-simkyungha-regular);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 123px;
  letter-spacing: 2.00px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 558px;
  white-space: nowrap;
  width: auto;
}

.codaejang .text_label-Z5bEpb {
  background-color: transparent;
  color: var(--mine-shaft);
  font-family: var(--font-family-nanumsquare);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  height: auto;
  left: 102px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 623px;
  white-space: nowrap;
  width: auto;
}

.codaejang .span0-t1CKsZ {
  letter-spacing: 1.50px;
}

.codaejang .span1-t1CKsZ {
  font-family: var(--font-family-nanumsquare-regular);
  font-size: var(--font-size-xxxl);
  font-style: normal;
}

.codaejang .span2-t1CKsZ {
  letter-spacing: 1.50px;
}

.codaejang .span3-t1CKsZ {
  color: var(--sunglo);
  font-family: var(--font-family-nanumsquare-bold);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.50px;
}

.codaejang .span4-t1CKsZ {
  letter-spacing: 1.50px;
}

.codaejang .span5-t1CKsZ {
  font-family: var(--font-family-nanumsquare-regular);
  font-size: var(--font-size-xxxl);
  font-style: normal;
}

.codaejang .text_label-xxMvsK {
  background-color: transparent;
  color: var(--olive);
  font-family: var(--font-family-nanumsquare-extrabold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 800;
  height: auto;
  left: 88px;
  letter-spacing: 1.05px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 686px;
  white-space: nowrap;
  width: auto;
}

.codaejang .text_label-uBpXxh {
  background-color: transparent;
  color: var(--olive);
  font-family: var(--font-family-nanumsquare-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 147px;
  letter-spacing: 1.50px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 860px;
  white-space: nowrap;
  width: auto;
	margin-top:-80px;
	padding-top:80px;
}

.codaejang .text_label-XCFw9H {
  background-color: transparent;
  color: var(--sunglo);
  font-family: var(--font-family-nanumsquare);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: auto;
  left: 40px;
  letter-spacing: 0.90px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 924px;
  white-space: nowrap;
  width: auto;
}

.codaejang .span0-rl3r8n {
}

.codaejang .span1-rl3r8n {
}

.codaejang .span2-rl3r8n {
}

.codaejang .span3-rl3r8n {
}

.codaejang .span4-rl3r8n {
}

.codaejang .span5-rl3r8n {
}

.codaejang .span6-rl3r8n {
}

.codaejang .span7-rl3r8n {
  color: #707070;
  font-family: var(--font-family-nanumsquare-regular);
  font-style: normal;
}

.codaejang .span8-rl3r8n {
  font-family: var(--font-family-nanumsquare-regular);
  font-style: normal;
}

.codaejang .view-Z5bEpb {
  background-color: transparent;
  height: 367px;
  left: 20px;
  position: absolute;
  top: 1132px;
  width: 350px;
}

.codaejang .july-eYqz5F {
  background-color: transparent;
  color: #707070;
  font-family: var(--font-family-nanumsquare-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
  height: 20px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  right: calc(49.68% - 19px);
  text-align: center;
  top: 26px;
  white-space: nowrap;
  width: 38px;
}

.codaejang .x4-eYqz5F {
  background-color: transparent;
  height: 19px;
  left: calc(25.00% - 4px);
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: calc(35.78% - 7px);
  white-space: nowrap;
  width: 14px;
}

.codaejang .x11-eYqz5F {
  background-color: transparent;
  height: 19px;
  left: calc(24.55% - 5px);
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: calc(49.28% - 9px);
  white-space: nowrap;
  width: 20px;
}

.codaejang .x18-eYqz5F {
  background-color: transparent;
  bottom: calc(37.21% - 7px);
  height: 19px;
  left: calc(24.39% - 5px);
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 22px;
}

.codaejang .x25-eYqz5F {
  background-color: transparent;
  bottom: calc(23.71% - 5px);
  height: 19px;
  left: calc(24.23% - 6px);
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 24px;
}

.codaejang .x5-eYqz5F {
  background-color: transparent;
  height: 19px;
  left: calc(37.57% - 5px);
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: calc(35.78% - 7px);
  white-space: nowrap;
  width: 12px;
}

.codaejang .x12-eYqz5F {
  background-color: transparent;
  height: 19px;
  left: calc(37.20% - 8px);
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: calc(49.28% - 9px);
  white-space: nowrap;
  width: 22px;
}

.codaejang .x19-eYqz5F {
  background-color: transparent;
  bottom: calc(37.21% - 7px);
  height: 19px;
  left: calc(37.27% - 7px);
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 20px;
}

.codaejang .x26-eYqz5F {
  background-color: transparent;
  bottom: calc(23.71% - 5px);
  height: 19px;
  left: calc(37.12% - 9px);
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 24px;
}

.codaejang .x6-eYqz5F {
  background-color: transparent;
  height: 19px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  right: calc(49.70% - 6px);
  text-align: center;
  top: calc(35.78% - 7px);
  white-space: nowrap;
  width: 12px;
}

.codaejang .x13-eYqz5F {
  background-color: transparent;
  height: 19px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  right: calc(49.70% - 11px);
  text-align: center;
  top: calc(49.28% - 9px);
  white-space: nowrap;
  width: 22px;
}

.codaejang .x20-eYqz5F {
  background-color: transparent;
  bottom: calc(37.21% - 7px);
  height: 19px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  right: calc(49.70% - 11px);
  text-align: center;
  white-space: nowrap;
  width: 22px;
}

.codaejang .x27-eYqz5F {
  background-color: transparent;
  bottom: calc(23.71% - 5px);
  height: 19px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  right: calc(49.69% - 12px);
  text-align: center;
  white-space: nowrap;
  width: 24px;
}

.codaejang .x7-eYqz5F {
  background-color: transparent;
  height: 19px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  right: calc(36.98% - 4px);
  text-align: center;
  top: calc(35.78% - 7px);
  white-space: nowrap;
  width: 12px;
}

.codaejang .x14-eYqz5F {
  background-color: transparent;
  height: 19px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  right: calc(36.59% - 8px);
  text-align: center;
  top: calc(49.28% - 9px);
  white-space: nowrap;
  width: 22px;
}

.codaejang .x21-eYqz5F {
  background-color: transparent;
  bottom: calc(37.21% - 7px);
  height: 19px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  right: calc(36.59% - 8px);
  text-align: center;
  white-space: nowrap;
  width: 22px;
}

.codaejang .x28-eYqz5F {
  background-color: transparent;
  bottom: calc(23.71% - 5px);
  height: 19px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  right: calc(36.50% - 9px);
  text-align: center;
  white-space: nowrap;
  width: 24px;
}

.codaejang .x1-eYqz5F {
  background-color: transparent;
  height: 19px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  right: calc(24.71% - 2px);
  text-align: center;
  top: calc(22.27% - 4px);
  white-space: nowrap;
  width: 10px;
}

.codaejang .x15-eYqz5F {
  background-color: transparent;
  height: 19px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  right: calc(23.78% - 5px);
  text-align: center;
  top: calc(49.28% - 9px);
  white-space: nowrap;
  width: 22px;
}

.codaejang .x22-eYqz5F {
  background-color: transparent;
  bottom: calc(37.21% - 7px);
  height: 19px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  right: calc(23.62% - 6px);
  text-align: center;
  white-space: nowrap;
  width: 24px;
}

.codaejang .x29-eYqz5F {
  background-color: transparent;
  bottom: calc(23.71% - 5px);
  height: 19px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  right: calc(23.78% - 5px);
  text-align: center;
  white-space: nowrap;
  width: 22px;
}

.codaejang .x9-eYqz5F {
  background-color: transparent;
  height: 19px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  right: 40px;
  text-align: center;
  top: calc(35.78% - 7px);
  white-space: nowrap;
  width: 12px;
}

.codaejang .x16-eYqz5F {
  background-color: transparent;
  height: 19px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  right: 35px;
  text-align: center;
  top: calc(49.28% - 9px);
  white-space: nowrap;
  width: 22px;
}

.codaejang .x23-eYqz5F {
  background-color: transparent;
  bottom: calc(37.21% - 7px);
  height: 19px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  right: 34px;
  text-align: center;
  white-space: nowrap;
  width: 24px;
}

.codaejang .x30-eYqz5F {
  background-color: transparent;
  bottom: calc(23.71% - 5px);
  height: 19px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  right: 34px;
  text-align: center;
  white-space: nowrap;
  width: 24px;
}

.codaejang .x3-eYqz5F {
  background-color: transparent;
  height: 19px;
  left: 42px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: calc(35.78% - 7px);
  white-space: nowrap;
  width: 12px;
}

.codaejang .x10-eYqz5F {
  background-color: transparent;
  height: 19px;
  left: 38px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: calc(49.28% - 9px);
  white-space: nowrap;
  width: 20px;
}

.codaejang .x17-eYqz5F {
  background-color: transparent;
  bottom: calc(37.21% - 7px);
  height: 19px;
  left: 37px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 22px;
}

.codaejang .x42-eYqz5F {
  background-color: transparent;
  border: 2px solid #83b200;
  height: 44px;
  position: absolute;
  right: 27px;
  top: calc(22.91% - 10px);
  width: 40px;
}

.codaejang .x43-eYqz5F {
  background-color: transparent;
  border: 2px solid #83b200;
  height: 44px;
  position: absolute;
  right: calc(22.58% - 9px);
  top: calc(37.46% - 16px);
  width: 40px;
}

.codaejang .x24-eYqz5F {
  background-color: transparent;
  bottom: calc(23.71% - 5px);
  height: 19px;
  left: 36px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 24px;
}

.codaejang .x31-eYqz5F {
  background-color: transparent;
  bottom: 36px;
  height: 19px;
  left: 37px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 22px;
}

.codaejang .text_label-eYqz5F {
  background-color: transparent;
  color: var(--mine-shaft);
  font-family: var(--font-family-nanumsquare-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 14px;
  letter-spacing: 1.00px;
  line-height: 20px;
  position: absolute;
  right: 30px;
  text-align: center;
  top: calc(27.48% - 4px);
  white-space: nowrap;
  width: 32px;
}

.codaejang .x2-eYqz5F {
  background-color: transparent;
  height: 19px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  right: 40px;
  text-align: center;
  top: calc(22.27% - 4px);
  white-space: nowrap;
  width: 12px;
}

.codaejang .x8-eYqz5F {
  background-color: transparent;
  height: 19px;
  letter-spacing: 1.70px;
  line-height: 20px;
  position: absolute;
  right: calc(24.56% - 3px);
  text-align: center;
  top: calc(35.78% - 7px);
  white-space: nowrap;
  width: 12px;
}

.codaejang .text_label-A6wmB4 {
  background-color: transparent;
  color: var(--mine-shaft);
  font-family: var(--font-family-nanumsquare-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 14px;
  letter-spacing: 1.00px;
  line-height: 20px;
  position: absolute;
  right: calc(23.78% - 5px);
  text-align: center;
  top: calc(41.08% - 6px);
  white-space: nowrap;
  width: 22px;
}

.codaejang .x44-eYqz5F {
  background-color: transparent;
  border: 1px solid #eae7a8;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.codaejang .gallery-16xy7G {
  background-color: transparent;
  height: auto;
  left: 168px;
  letter-spacing: 0.75px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 1612px;
  white-space: nowrap;
  width: auto;
	margin-top:-80px;
	padding-top:80px;
}

.codaejang .x1-16xy7G::-webkit-scrollbar {
  display: none;
  width: 0;
}

.codaejang .x1-16xy7G {
  background-color: transparent;
  height: 230px;
  left: 0px;
  mix-blend-mode: normal;
  overflow-x: scroll;
  position: absolute;
  top: 1704px;
  width: 390px;
}

.codaejang .x61-Ss1NIG {
  background-color: transparent;
  height: 230px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 2676px;
}

.codaejang .d08-af8-fc-0432-489-r1yZRo {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 317px;
}

.codaejang .x1-b24831-e-7-f28-4-a-r1yZRo {
  background-color: transparent;
  height: 100%;
  left: 337px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 317px;
}

.codaejang .x57-f567-bc-86-df-425-r1yZRo {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 317px;
}

.codaejang .x010-b36-f8-c9-ae-451-r1yZRo {
  background-color: transparent;
  height: 100%;
  left: calc(28.57% - 91px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 317px;
}

.codaejang .b66-b052-c-e305-45-f-r1yZRo {
  background-color: transparent;
  height: 100%;
  left: calc(42.86% - 136px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 317px;
}

.codaejang .x648-dd1-f4-28-e2-435-r1yZRo {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: calc(42.86% - 136px);
  top: 0px;
  width: 317px;
}

.codaejang .de34483-d-d490-4819-r1yZRo {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: calc(28.57% - 91px);
  top: 0px;
  width: 317px;
}

.codaejang .x2-abe92-f9-fea6-45-a-r1yZRo {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 337px;
  top: 0px;
  width: 317px;
}

.codaejang .x2-16xy7G::-webkit-scrollbar {
  display: none;
  width: 0;
}

.codaejang .x2-16xy7G {
  background-color: transparent;
  height: 230px;
  left: 0px;
  mix-blend-mode: normal;
  overflow-x: scroll;
  position: absolute;
  top: 1964px;
  width: 390px;
}

.codaejang .x60-ooxBnV {
  background-color: transparent;
  height: 230px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 2676px;
}

.codaejang .kakao-talk_-photo_2022-06-11-06-02-38-OVd1QJ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 317px;
}

.codaejang .kakao-talk_-photo_2022-06-11-06-02-48-OVd1QJ {
  background-color: transparent;
  height: 100%;
  left: 337px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 317px;
}

.codaejang .x3-f9-a65-cf-c69-d-4-OVd1QJ {
  background-color: transparent;
  height: 100%;
  left: calc(28.57% - 91px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 317px;
}

.codaejang .x255-cf283-8815-46-b4-OVd1QJ {
  background-color: transparent;
  height: 100%;
  left: calc(42.86% - 136px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 317px;
}

.codaejang .x5-e6-b8-e0-f-65-a6-4-OVd1QJ {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: calc(42.86% - 136px);
  top: 0px;
  width: 317px;
}

.codaejang .x4337-e05-c-1-c93-4-d-OVd1QJ {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: calc(28.57% - 91px);
  top: 0px;
  width: 317px;
}

.codaejang .ac247-ed6-e9-f8-4378-OVd1QJ {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 337px;
  top: 0px;
  width: 317px;
}

.codaejang .d1-c72-fbd-3889-4858-OVd1QJ {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 317px;
}

.codaejang .location-16xy7G {
  background-color: transparent;
  height: auto;
  left: 162px;
  letter-spacing: 0.75px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 2346px;
  white-space: nowrap;
  width: auto;
	margin-top:-70px;
	padding-top:70px;
}

.codaejang .image-16xy7G {
  background-color: transparent;
  height: 229px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 2415px;
  width: 352px;
}

.codaejang .view-xxMvsK {
  background-color: transparent;
  height: 59px;
  left: 63px;
  position: absolute;
  top: 2694px;
  width: 199px;
}

.codaejang .x300-2-206-1-PqxEJg {
  background-color: transparent;
  bottom: 2px;
  height: 35px;
  left: 0px;
  letter-spacing: 0.90px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.codaejang .text_label-PqxEJg {
  background-color: transparent;
  color: var(--olive);
  font-family: var(--font-family-nanumsquare-extrabold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 800;
  height: 16px;
  left: 0px;
  letter-spacing: 0.65px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: -3px;
  white-space: nowrap;
  width: 56px;
}

.codaejang .view-uBpXxh {
  background-color: transparent;
  height: 39px;
  left: 63px;
  position: absolute;
  top: 2793px;
  width: 266px;
}

.codaejang .x5-8-250m-5-Zqr8G2 {
  background-color: transparent;
  bottom: 2px;
  height: 15px;
  left: 0px;
  letter-spacing: 0.90px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.codaejang .text_label-Zqr8G2 {
  background-color: transparent;
  color: var(--olive);
  font-family: var(--font-family-nanumsquare-extrabold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 800;
  height: 16px;
  left: 0px;
  letter-spacing: 0.65px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: -3px;
  white-space: nowrap;
  width: 38px;
}

.codaejang .image-5PoOA8 {
  background-color: transparent;
  height: 39px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: 2872px;
  width: 243px;
}

.codaejang .view-XCFw9H {
  background-color: transparent;
  height: 38px;
  left: 58px;
  position: absolute;
  top: 2961px;
  width: 122px;
}

.codaejang .x58-PaMw7s {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.codaejang .x46-SEfOV4 {
  background-color: #e5dd76;
  border-radius: 19px;
  height: 100%;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  width: 100%;
}

.codaejang .text_label-SEfOV4 {
  background-color: transparent;
  color: var(--mine-shaft);
  font-family: var(--font-family-nanumsquare-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: 16px;
  letter-spacing: 0.65px;
  line-height: 20px;
  position: absolute;
  right: calc(48.28% - 31px);
  text-align: center;
  top: calc(40.91% - 7px);
  white-space: nowrap;
  width: 64px;
}

.codaejang .view-Cb1XeU {
  background-color: transparent;
  height: 38px;
  left: 210px;
  position: absolute;
  top: 2961px;
  width: 122px;
}

.codaejang .x57-9gHmMP {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.codaejang .x47-ndVaD3 {
  background-color: #e5dd76;
  border-radius: 19px;
  height: 100%;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  width: 100%;
}

.codaejang .text_label-ndVaD3 {
  background-color: transparent;
  color: var(--mine-shaft);
  font-family: var(--font-family-nanumsquare-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: 16px;
  letter-spacing: 0.65px;
  line-height: 20px;
  position: absolute;
  right: calc(48.57% - 25px);
  text-align: center;
  top: calc(40.91% - 7px);
  white-space: nowrap;
  width: 52px;
}

.codaejang .text_label-Cb1XeU {
  background-color: transparent;
  color: var(--olive);
  font-family: var(--font-family-simkyungha-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 28px;
  letter-spacing: 1.50px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 3074px;
  white-space: nowrap;
  width: auto;
}

.codaejang .view-33ifXx {
  background-color: transparent;
  height: 70px;
  left: 0px;
  position: fixed;
  top: 774px;
  width: 390px;
}

.codaejang .x48-HqnVZQ {
  background-color: #eee8a0;
  height: 70px;
  left: 0px;
  position: fixed;
  top: 774px;
  width: 390px;
}

.codaejang .invitaion-HqnVZQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 31px;
  letter-spacing: 0.60px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 28px;
  white-space: nowrap;
  width: auto;
}

.codaejang .event-HqnVZQ {
  background-color: transparent;
  height: auto;
  left: 129px;
  letter-spacing: 0.60px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 28px;
  white-space: nowrap;
  width: auto;
}

.codaejang .gallery-HqnVZQ {
  background-color: transparent;
  height: auto;
  left: 206px;
  letter-spacing: 0.60px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 28px;
  white-space: nowrap;
  width: auto;
}

.codaejang .location-HqnVZQ {
  background-color: transparent;
  height: auto;
  left: 298px;
  letter-spacing: 0.60px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 28px;
  white-space: nowrap;
  width: auto;
}
#invitation {
}
